body{
    height: 100vh;
    background-color: #da4482;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div{
    Display: flex;
    width: 60%;
    justify-content: space-between;
}
p{
    font-size: 25px;
}
button{
    background-color: #9b2355;
    color: rgb(255, 255, 255);
    padding: 14px;
    border: none;
    border-radius: 17px;
}
button:hover{
    background-color: #ec82ae;
    transform: scale(1.1) rotate(5deg);
}
button{
    transition: o.3s;
}